
# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local development settings
instance/
.webassets-cache
